body{
    background-color: rgb(193, 153, 229);
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    display: flex;
}

.cartao{
    margin: 1rem 1rem;
    background-color: rgb(151, 80, 233);
}